<!DOCTYPE html>
<html lang="en">
<head>
  <title>Success</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script>
    function myFunction(element) {
      var $temp = $("<input>");
      $("body").append($temp);
      $temp.val($(element).text().trim()).select();
      document.execCommand("copy");
      $temp.remove();

      /* Alert the copied text */
      alert("Copied the text: " + copyText.value);
    }
  </script>
  <script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
    </script>
  
</head>
<body>
  
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/">De-Mocracy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item a">
          <a class="nav-link" href="/result">Result</a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/verification">Verify</a>
        </li>
        
      </ul>
      
    </div>
  </nav>

<div class="container">
  
  <div class="jumbotron">
    <h1 class="text-center">Succesfully Voted</h1>      
    <p class="text-center">Dear Citizen,  you have Succesfully casted your vote. </p>
    <p class="text-center" >Your Transaction Hash ID : <span id="copy"> <%=mailHash%> </span>  </p>
    <p class="text-center">You can verify your Transaction at https://ropsten.etherscan.io/tx/<%=mailHash%></p>
  </div>    
</div>

<div class="row text-center">
    
    <div class="col">
      <button type="button" class="btn btn-warning" onclick="myFunction('#copy')">Copy hash</button>
    </div>
</div>


</body>
</html>