<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voted List</title>
    <link rel="shortcut icon" type="image/png" href="https://image.flaticon.com/icons/png/512/1533/1533878.png">
    <link href="/assets/style.css" rel="stylesheet" type="type/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script>
      function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
      
        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[1];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
      </script>
    
    <style>
        /* .container{
        margin-top: 30px;
        top:20%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        color: #3498db;
        } */
        .header {
            min-height: 60px;        
        }.mainmenu {
            float:right;
            padding-top: 20px;  
            background-color: transparent;
        }
        .menu {
            display: inline;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            padding-right: 100px;
            transition: all .5s ;
            color: rgb(247, 247, 245);
            text-align: center;
            padding: 20px 40px; 
            
        }
        .menu:hover {
            color: black;
            background-color: #ddd;
            transition: .5s;        
        }
    </style>
</head>

<body>
    
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="/">De-Mocracy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
      </nav>
    </br>
 
  <div class="col">
    <a type="button" class="btn btn-primary" href="/admin/dashboard"> Admin Dashboard</a>
  </div>
</br>
    <h1 class="display-3 text-center"style="font-size:10vw">Voted People</h1>
      <br>
    </br>
    
    <div class="row text-center">

        <div class="container">
        
            <input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search using mailID">
            
          </br>
            <div class="table-responsive">
            <table class="table table striped" id="myTable">
               <tr>
                   <th>No.</th>
                   <th>Mail ID</th>
                   <th>Date and Time</th>
               </tr>
            <% x = 0 %>   
            <% data.forEach(function (user) { %>
                <tr>
                     <% x+=1 %>
                     <td><%= x %></td>
                     <td><%= user.email %></td>
                     <td><%= user.date %></td>
                </tr>
         <% }) %>
           </table>
        </div>
        


    </div>
    </div>
  </br>
</br>
</br>
</br>
</br>


</body>

<footer class="page-footer font-small special-color-dark pt-4">

  <!-- Footer Elements -->
  <div class="container">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="font-size:2vw">© 2020 Copyright: <span style="color: antiquewhite;"> Team Blockbusters</span>
  </div>
  <!-- Copyright -->
  <div class="page-footer font-small text-center"style="font-size:2vw">. ASHER . DEBIN . JOAN . UDAY .</div>

</footer>
